@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-background {
    background-image: url('/images/hero-background.jpg');
    background-size: cover;
    background-position: center;
}
