---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout 
    title="Canal de Denuncias - Riesgo Psicosocial | DGPS"
    description="Plataforma oficial del Ministerio de Trabajo para la interposici칩n de denuncias."
>
    <section class="py-16 bg-light">
        <div class="container mx-auto px-4 sm:px-6 lg:px-8 max-w-7xl">
            <h1 class="font-display text-4xl md:text-5xl font-bold text-primary text-center">
                Canal Oficial de Denuncias
            </h1>
            <p class="mt-4 mb-8 text-lg text-gray-600 text-center">
                A continuaci칩n se presenta la plataforma del Ministerio de Trabajo y Previsi칩n Social.
            </p>
            <div class="bg-white p-6 rounded-lg shadow-lg">
                               
                <iframe src="https://denuncias.mtps.gob.sv/" class="w-full h-[90vh] border-2 border-gray-200 rounded-lg" title="Plataforma de Denuncias"></iframe>
                
            </div>
            <p class="mb-6 text-gray-600 text-center">
                    <strong class="text-red-600">Nota:</strong> Si el recuadro aparece en blanco. Puede acceder directamente haciendo clic a continuacion
                    <a href="https://denuncias.mtps.gob.sv/" target="_blank" rel="noopener noreferrer" class="inline-block mt-1 bg-primary text-white font-bold py-1 px-1 rounded-md hover:bg-opacity-30 transition-colors">
                    Abrir en una Nueva Pesta침a
                </a>
                </p>
        </div>
    </section>
</BaseLayout>
