<footer>
/*class="bg-dark text-white p-8 mt-12 shadow-lg"*/
    /*<div class="container mx-auto text-center">
        <p>&copy; {new Date().getFullYear()} Ministerio de Trabajo y Previsión Social - MTPS 
            <br>Todos los derechos reservados.
        <br>Dirección General de Previsión Social - DGPS.</p>
    </div>*/
</footer>
