<div class="bg-white p-6 sm:p-8 rounded-lg shadow-md">
    <h2 class="text-3xl font-bold text-dark mb-4 text-center underline">Política en Materia de Seguridad y Salud Ocupacional</h2>
    <div class="prose prose-lg max-w-none text-gray-700">
        <p>Siendo el empleador el responsable final de las condiciones de seguridad y salud ocupacional del lugar de trabajo, deberá formular por escrito, con la participación del Comité, tal como lo establece el Art. 17, literal a) de la Ley, una política que reflejará el compromiso de alta dirección en esta materia y que constituirá el fundamento a partir del cual se desarrollan los objetivos y los fines del sistema de gestión.</p>
        <p>La política en materia de seguridad y salud ocupacional deberá incluir como mínimo los siguientes principios y objetivos, respecto de los cuales el empleador expresa su compromiso:</p>
        <ul>
        <li><strong>a)</strong> La protección de la seguridad y salud ocupacional de todos los trabajadores, mediante la prevención de lesiones, daños, enfermedades y sucesos peligrosos relacionados con el trabajo.</li>
        <li><strong>b)</strong> El cumplimiento de los requisitos legales pertinentes sobre la materia en los contratos colectivos de trabajo, en caso de existir, en el reglamento interno de trabajo y en otras fuentes del Derecho del Trabajo.</li>
        <li><strong>c)</strong> La garantía que los trabajadores y sus representantes sean consultados y asumen una participación activa en todos los elementos de la gestión.</li>
        <li><strong>d)</strong> La mejora continua del desempeño del sistema de gestión.</li>
        </ul>
        <p>La política formulada deberá cumplir con las siguientes características, para su efectiva aplicación:</p>
        <ul>
        <li><strong>a)</strong> Ser específica para la actividad que se desempeña en el lugar de trabajo.</li>
        <li><strong>b)</strong> Ser concisa y estar redactada con claridad, firmada por el empleador.</li>
        <li><strong>c)</strong> Ser revisada periódicamente para adaptarse a las condiciones particulares del lugar de trabajo.</li>
        </ul>
        <p>La política se deberá dar a conocer y ser accesible a los trabajadores y sus representantes y tenerse a disposición de las autoridades con competencia en la materia.</p>
    </div>
    <footer class="mt-8 pt-4 border-t text-right text-gray-500 italic">
        ARTÍCULO 58-61 - DECRETO 86: REGLAMENTO DE GESTION DE LA PREVENCION DE RIESGOS EN LOS LUGARES DE TRABAJO
    </footer>
</div>